<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_mock_location">

    <application android:allowBackup="true">
        <activity android:name=".LocationActivity" />
        <activity
            android:name=".Loc_HomeActivity"
            android:label="@string/title_activity_loc__home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>